@page "/fetchdata"
@using BlazorPractice.Shared
@using MudBlazor
@inject HttpClient Http


<PageTitle>Weather forecast</PageTitle>

<h1>表格資料顯示</h1>

<p>透過 MudDataGrid 原件來讓表格有額外的排序功能</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>*@
    <!--改成Mud版的-->

    <MudDataGrid Items="@forecasts">
        <Columns>
            <PropertyColumn Property="x => x.Date" Title="Date" />
            <PropertyColumn Property="x => x.TemperatureC" Title="Temp. (C)" />
            <PropertyColumn Property="x => x.TemperatureF" Title="Temp. (F)" />
            <PropertyColumn Property="x => x.Summary" Title="Summary" />
        </Columns>
    </MudDataGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
